<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/style1.css">

</head>
<body>


    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{{url_for('home')}}">CONSUMER PRICE INDEX </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
            <!-- Right side navigation options -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Consumer Price index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('predict') }}">Predict</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>
<h3>Enter consumer consumption prices for each item below</h3>
<form action="{{url_for('result')}}" method="post">
    <label for="milk">Milk and products:</label><br>
    <input type="text" id="milk" name="milk" required><br><br>
    
    <label for="prepared">Prepared meals, snacks, sweets etc:</label><br>
    <input type="text" id="prepared" name="prepared" required><br><br>
    
    <label for="health">Health:</label><br>
    <input type="text" id="health" name="health" required><br><br>
    
    <label for="personal">Personal care and effects:</label><br>
    <input type="text" id="personal" name="personal" required><br><br>
    
    <label for="miscellaneous">Miscellaneous:</label><br>
    <input type="text" id="miscellaneous" name="miscellaneous" required><br><br>

    <label for="meat_egg">Meat and Fish:</label><br>
    <input type="text" id="meat_egg" name="meat_egg" required><br><br>
    
    <label for="food_beverages">Food and Beverages:</label><br>
    <input type="text" id="food_beverages" name="food_beverages" required><br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>